.navbarContainer {
	top: 0;
	left: 0;
	position: absolute;
	color: $dark-text-color;
}

.navbarWrapper {
	max-height: 5%;
	padding: 0 2.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	width: 5%;
	height: auto;
}

.linksContainer {
	width: 50%;
	display: flex;
	align-items: center;
	font-weight: $bold;

	ul {
		width: 100%;
		margin: auto;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
}


@media screen and (max-width:360px) {
    .navbarContainer {
        display: none;
    }
  }

  @media screen and (max-width:414px) {
	.navbarContainer {
        display: none;
    }
  }