.featuredContainer {
	background-color: $light-grey;
	text-align: center;

	h2 {
		color: $dark-green;
	}
}

.featuredIcons {
	height: 10vh;
	padding: 0% 5%;
	display: grid;
	gap: 1rem;
	/*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
	grid-template-columns: 1fr 1fr;
}

.featuredIcon {
	width: inherit;
	position: relative;
	flex-shrink: 0;
	background-color: red;
}

@media screen and (max-width:414px) {
	.featuredIcon {
		width:100%;
	}
}

@media screen and (max-width:360px) {

}