.impactCardContainer {
	width: max(27%);
	background-color: $light-green;
	border-radius: 15px;
}

.impactCardWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	p {
		margin-top: 10%;
		font-weight: bold;
	}
}

.impactCardImg {
	img {
		width: 50%;
		height: auto;
		margin: 10%;
	}
}
