.impactsContainer {
	color: $default-text-color;
	background-color: $dark-green;
}

.impactsWrapper {
	width: 100%;
	text-align: center;
	padding: 3%;

	h2 {
		margin-top: 0;
		margin-bottom: 3%;
	}
}

.cardsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
