.joingContainer {
	width: 100%;
}

.joinWrapper {
	width: inherit;
	display: flex;
	flex-direction: row;
}

.joinImg {
	width: 40%;
	padding: 5%;

	img {
		width: 100%;
		height: auto;
	}
}

.joinContent {
	width: 60%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	color: $header-text-color;
	text-align: center;
}

.signContainer {
	width: 100%;
	padding: 0 10%;
	display: flex;
	flex-direction: row;
}
