.socialsWrapper {
	text-align: center;

	h2 {
		color: $header-text-color;
	}
}

@media screen and (max-width:414px) {
	.socialsWrapper {
		padding:20px;
		h2 {
			font-size: $smaller-mobile-header-size;
		}
	}
}

@media screen and (max-width:360px) {

}

