@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-header-font: "Montserrat", sans-serif;
$main-text-font: "Lato", sans-serif;

$darkest-green: #2e4541;
$dark-green: #3e5b4f;
$mid-green: #5d8465;
$light-green: #9ab291;

$header-text-color: $dark-green;
$default-text-color: #ffffff;
$dark-text-color: #000000;

$bold: 700;
$regular: 500;
$light: 300;
